*{
    margin: 0;
    padding: 0;
}

body{

 height:1553px;
    margin: 0;
    padding: 0;
}
.container{
     height: 1553px;
   
     margin: auto;
     margin-bottom: 0;
 }

nav{
    display: flex;
    justify-content: center;
   
}
.navi{
    padding-top: 52px;
    margin-left: 100px;
    /* width:637px; */
    border-bottom: 2px solid #dce1e4 ;
}
a{
    font-size: 23px; 
   padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 0;
    text-decoration: none;
    color: black;
}
.key{
    border-bottom: 3px solid black ;  
}
main{
    display: flex;
    justify-content: center;
}
li{
    list-style: none;
   
    padding-top: 15px;
    padding-bottom: 15px;
     border-bottom: 2px solid #dce1e4 ;  
    padding-left: 30px;
    
}
.main{
    display: flex;
    margin-top: 55px;
    justify-content: space-around;
}

h2{
    
    margin: 0;
    text-align: center;
    border-bottom: 3px solid #dce1e4 ; 
    padding: 10px;
    
}
.sec{
    width: 220px;
    margin-left: 26px;
    
}
footer{
    display: flex;
    height: 100px;
    margin-top: 74px;
    justify-content: space-between;
}
.one{
   margin-left: 30px;
  
    
}
.one p{
   
    margin-top: 5px;
  
}
.two{

    display: flex;
   margin-right: 4px;
   
    padding-top: 27px;
   
}
.two img{
    width: 60px;
    height: 47px;

   margin-left: 15px;
}

button{
    /* margin-left: 158px; */
    background-color: #32AAD6;
    color: white;
    padding: 7px;
    border: none;
}
.para{
    min-height: 300px;
}
.para-2{
    margin-top: 100px;
    min-height:300px;
}
.para-3{
    margin-top: 10px;
    min-height: 300px;
}
.id{
    color:#32AAD6;
}
h1{
    text-align: center;
}
.sec img{
    width: 221px;
    height: 136px;
    margin-bottom: 10px;
}
.sec {
    text-align: center;

}
#img-content{
    text-align: center;
}
.sec p{
    text-align: justify;
    color: #32AAD6;
}
.sec .content{
    color:black;
}
.sec a:hover{
    color: blue;
}

.more button{
    font-size: 20px;
    padding: 3px 20px 3px 20px;
    margin-left: 45%;
}
#trong-nuoc,#ngoai-nuoc{
    background-image: url("../images/background.jpg");

    background-size: cover;
}
















.mySlides {display: none;}
.mySlides img{
    height: 30%; width:100%; max-width: 100%;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }