body{
    
 height:1553px;
    margin: 0;
    padding: 0;
}
.container{
    width: 960px;
     height: 1553px;
   
     margin: auto;
     margin-bottom: 0;
 }


nav{
    display: flex;
  
   
}
.navi{
 
    padding-top: 52px;
    margin-left: 243px;
    width:637px;
    border-bottom: 2px solid #dce1e4 ;
    
}
a{
   
   
    font-size: 23px; 
   padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 0;
    text-decoration: none;
    color: black;
   
    
}
.key{
    border-bottom: 3px solid black ;  
}
.big-image{
    margin-top: 27px;
}
main{
    display: flex;
 
}
.side-1{
    padding: 0;
    margin: 0;
  
}
li{
    list-style: none;
   
    padding-top: 15px;
    padding-bottom: 15px;
     border-bottom: 2px solid #dce1e4 ;  
    padding-left: 30px;
    
}
.main{
    display: flex;
    margin-top: 55px;
}

h2{
    
    margin: 0;
    text-align: center;
    border-bottom: 3px solid #dce1e4 ; 
    padding: 10px;
    
}
.sec{
    width: 220px;
    margin-left: 26px;
    
}
footer{
    display: flex;
    height: 100px;
    margin-top: 74px;
    justify-content: space-between;
}
.one{
   margin-left: 30px;
  
    
}
.one p{
   
    margin-top: 5px;
  
}
.two{

    display: flex;
   margin-right: 4px;
   
    padding-top: 27px;
   
}
.two img{
    width: 60px;
    height: 47px;

   margin-left: 15px;
}

button{
    margin-left: 158px;
    background-color: red;
    color: white;
    padding: 7px;
    border: none;
}
.para-2{
    margin-top: 40px;
}
.para-3{
    margin-top: 10px;
}
.id{
    color:red;
}